/* ===== HOME PAGE ===== */
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid orange;
    width: 0;
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
}

/* ===== ANIMATIONS ===== */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 22ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}